{{define "index/home"}}

<div id="section-features" class="heading-block title-center page-section">
  <h2>Latest Collection</h2>
  <span>Some of the Latest Collection that are gonna blow your mind off</span>
</div>
<div class="divider divider-short divider-center"><i class="icon-circle"></i></div>
<div class="clear"></div>
{{template "images/index" .}}
  <!--<section id="slider" class="boxed-slider">
    <div class="container clearfix">

				<div class="nivoSlider">
					<img src="/assets/images/slider/boxed/2.jpg" alt="Slider 1" title="#nivocaption1" />
					<img src="/assets/images/slider/boxed/3.jpg" alt="Slider 2" title="#nivocaption2" />
					<img src="/assets/images/slider/boxed/4.jpg" alt="Slider 3" title="#nivocaption3" />
					<img src="/assets/images/slider/boxed/5.jpg" alt="Slider 4" title="#nivocaption4" />
				</div>

				<div id="nivocaption1" class="nivo-html-caption">Ultra Responsive Design</div>
				<div id="nivocaption2" class="nivo-html-caption">Unlimited Color Options</div>
				<div id="nivocaption3" class="nivo-html-caption">Boxed &amp; Wide Layout</div>
				<div id="nivocaption4" class="nivo-html-caption">Bootstrap Components Compatible</div>

			</div>
  </section>-->
  <div class="divider divider-short divider-center"><i class="icon-circle"></i></div>
  <div class="clear"></div>
{{end}}
